<!DOCTYPE HTML>
<html lang="en" ng-app="prose">
	<head>
		<title>PROSE</title>
		<script src="javascripts/angular.min.js"></script>
		<script src="javascripts/app.js"></script>
		<script src="javascripts/controllers.js"></script>
		<link rel="stylesheet" href="stylesheets/style.css">
		<link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
	</head>	
	<body>
		<div id="nav"><div id="logo"></div></div>
		<div id="navbar">
		</div>
		<div id="content" ng-view>
		
		</div>	
	</body>
</html>
